@mixin fonts($size, $color, $weight, $line, $letter, $text, $textShadowns) {
    font-family: "Nunito", "nunitolight", "nunito-light", "arial";
    font-weight: #{$weight};
    line-height: #{$line};
    font-size: em($size);
    color: #{$color};
    letter-spacing: #{$letter};
    text-align: #{$text};
    text-shadow: #{$textShadowns};
}

@mixin colors() {
    //cores nos módulos
    $listButtonsName: "roxo-clube", "laranja-smiles", "vinho-transacoes", "magenta", "verde-Localiza", "amarelo-hertz",
        "amarelo-shopping", "azul-cartoes", "preto-uber", "cinza-medio";
    $listColors: "#663399", "#FF5A00", "#A11F62", "#EC008C", "#008D2D", "#FFC845", "#FFF200", "#899eae", "#000000",
        "#7c7c7c";

    $max: length($listButtonsName);

    @for $i from 1 through $max {
        &.#{nth($listButtonsName, $i)} {
            $cor: #{nth($listColors, $i)};
            &.modulo {
                .titulo {
                    color: $cor;
                }

                .canta-btn {
                    border-color: $cor;
                    background-color: $cor;
                }
            }
        }
    }
}

// @include fonts(30, '#c7c7c7', 900, 1.1, 1, 'center','1px 1px 2px rgba(000,000,000,0.8)');

////////////////////////////////////////////////////////////////////////////////////////////////////////////////PD

.titulo-mod058 {
    font-family: "Nunito", "nunitolight", "nunito-light", "arial";
    margin: 20px 0;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.mod058-carousel {

    img{
        max-width: initial !important;
    }

    .owl-nav {
        
        color: #fff;
        font-family: "Times New Roman", Times, serif;
    }

    .owl-prev {
        margin-top: -360px !important;
        position: absolute;
        font-size: 5rem !important;
        height: 350px !important;
        left: 0;
    }

    .owl-next {
        margin-top: -360px !important;
        position: absolute;
        font-size: 5rem !important;
        height: 350px !important;
        right: 0;
    }

    .owl-nav [class*="owl-"] {
        background: none !important;
        transition: 1s ease-in-out;
    }

    .owl-nav [class*="owl-"]:hover {
        background: rgba(0, 0, 0, 0.3) !important;
        transition: 1s ease-in-out;
    }

    font-family: "Nunito", "nunitolight", "nunito-light", "arial";
    p {
        margin: 0;
    }
    div {
        &.mod058-carousel-container {
            position: relative;
            div {
                &.img {
                    picture {
                        img {
                            width: auto;
                            height: 350px;
                            @media screen and(max-width: 767px) {
                                width: auto;
                            }
                        }
                    }
                    div {
                        &.texto {
                            p {
                                &.titulo {
                                    position: absolute;
                                    color: #fff;
                                    top: 20px;
                                    left: 20px;
                                    z-index: 1;
                                    word-wrap: break-word;
                                    font-size: 1.5rem;
                                    text-shadow: 0 0 5px black;
                                    small {
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
